/*头部导航*/
.header_index{
	font-size: 1.5rem;
	padding:10px 0;
	line-height: 25px;
	position: fixed;
	top:0;
	left: 0;
	right:0;
	max-width:640px;
	min-width: 300px;
	margin: auto;
}
.area_name{
	color:white;
	width: 20%;
	padding-left: 10px;
	display: inline-block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	float: left;
	position: relative;
}
.area_name img{
	position: absolute;
	top:0;
	bottom: 0;
	right: 13%;
	margin: auto;
	width:9px;
}
.search_header{
	width: 57%;
	height: 25px;
	display: inline-block;
	float: left;
	position: relative;
}
.search_header img{
	position: absolute;
	top:0;
	bottom: 0;
	right: 5px;
	margin: auto 0;
	width:15px;
	height: 15px;
}
.search_header input{
	width:100%;
	background: #0376d7;
	border-radius: 4px;
	height: 100%;
	outline: none;
	padding:0 20px 0 8px;
	color: white;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.sao_header{
	width: 12.4%;
	height: 25px;
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.add_header{
	width: 10.4%;
	height: 25px;
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.sao_header img{
	position: absolute;
	top:0;
	bottom: 0;
	right: 10px;
	margin: auto 0;
	width:20px;
	height: 20px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.add_header img{
	position: absolute;
	top:0;
	bottom: 0;
	right: 10px;
	margin: auto 0;
	width:20px;
	height: 20px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
nav{
	width:100%;
	height: 75px;
	background: #008bfe;
	padding:10px;
	display: -webkit-flex;
	display: flex;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
nav span{
	color: white;
	font-size: 1.5rem;
	flex-grow:1;
	text-align: center;
}
nav span a{
	color: white;	
}
nav span i{
	width:34px;
	height: 28px;
	display: block;
	margin: auto;
	margin-bottom: 9px;
}
nav span:first-child i{
	background: url(../img/nav_header.png) no-repeat 2px 0px;
	background-size: 137px 29.5px;
}
nav span:nth-child(2) i{
	background: url(../img/nav_header.png) no-repeat -31px 0px;
	background-size: 137px 29.5px;
}
nav span:nth-child(3) i{
	background: url(../img/nav_header.png) no-repeat -66px 0px;
	background-size: 137px 29.5px;
}
nav span:nth-child(4) i{
	background: url(../img/nav_header.png) no-repeat -102px 0px;
	background-size: 137px 29.5px;
}
.nav_footer span:first-child{
	color: #008BFE;
}
.guide{
	width:100%;
	padding:10px;
	height: 115px;
	margin-bottom: 8px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	position:relative;
}
.guide a{
	display:inline-block;
	width:100%;
	height:100%;
}
.guide a img{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}
.guide_right{
	position:absolute;
	right:10px;
	text-align: left;
	min-width: 42%;
	margin: auto 0;
	padding-top: 22.5px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.guide:nth-child(3) .guide_right{
	min-width: 28%;
}
.guide h1{
	display: inline-block;
	color: #333;
	font-size: 2rem;
	font-weight: bold;
}
.guide span{
	color:#888;
	font-size: 1.4rem;
}
.index_carMall{
	padding-bottom: 40px;
}
.index_carMall .common_title span{
	color:#999999;
	padding-left:10px;
	font-size: 1rem;
}
.goods_guide .goods_l{
    background:white;
    position: relative;
}
.goods_list{
    padding-bottom: 50px;
}
.goods_l,.goods_r{
    width:50%;
    float:left;
    height:210px;
}
.goods_l{
    border-right: 1px solid #f2f2f2;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.goods_list .goods_l,.goods_list .goods_r{
    background:white;
}
.goods_guide img{
    width: 100%;
    height:100%;
}
.goods_l:nth-child(even){
    float:right;
}
.goods_r{
    float:right;
}
.goods_top{
    border-bottom: 1px solid #f2f2f2;
}
.goods_top,.goods_bottom{
    width: 100%;
    height:49.8%;
    background:white;
    position: relative;
}
.goods_title{
    position: absolute;
    top:10px;
    left:7.29%;
    bottom:0;
}
.goods_title h1{
    font-size: 1.5rem;
    color:#333333;
    padding-bottom: 8px;
}
.goods_title em{
    font-size: 1.2rem;
    color:#cccccc;
    display:block;
    padding-bottom: 9px;
}
.goods_title span{
    font-size: 1.1rem;
    color:#008bfe;
    border:2px solid #008bfe;
    padding:3px 7px;
    border-radius: 15px;
    background:#eaf3fa;
}
.goods_list i{
    width: 100%;
    height:141px;
    border:3px solid white;
    display:inline-block;
    margin-bottom: 12px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.goods_list i img{
    width: 100%;
    height: 100%;
}
.goods_list h1{
    color:#262626;
    font-size: 1.4rem;
     height:32px; 
    line-height: 1.4rem;
    padding-left:12px;
    margin-bottom: 2px;
}
.goods_list em{
    color:#fd521d;
    font-size: 1.3rem;
    padding-left:12px;
    font-weight: bold;
}
.goods_list b{
    color:#b2b2b2;
    font-size: 1rem;
    text-decoration: line-through;
}
.goods_list span{
    display:inline-block;
    width:4px;
    height:4px;
    background:#b3b3b3;
    border-radius: 50%;
    float:right;
    margin-left: 4px;
    margin-top:5px;
}